<div class="navigation">
  <nav class="navbar navbar-expand-sm top-nav h-100">
      <a class="navbar-brand home-icon-mobile" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-top" aria-controls="nav-top" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-group" id="nav-top">
        <ul class="navbar-nav w-100 justify-content-around">
          <li class="nav-item">
            <a class="nav-link home-icon-desktop active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link home-icon-desktop" aria-current="page" href="#">H</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Contact</a>
          </li>
        </ul>
      </div>
  </nav>
</div>


<div class="content">
  <div class="home">
    <div class="home-content">
      <h1>Hi ! I'm DaiDV</h1>
      <h1>Full stack Ruby on Rails</h1>
      <div class="actions">
        <button type="button" class="btn btn-primary">Contact me</button>
        <button type="button" class="btn btn-primary">Download CV</button>
      </div>
    </div>
  </div>
</div>
<div class="left-nav">
  <nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">H1</a>
    <a class="nav-link" href="#">U2</a>
    <a class="nav-link" href="#">U3</a>
    <a class="nav-link" href="#">U4</a>
    <a class="nav-link" href="#">U5</a>
  </nav>
</div>
