/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

 @import "bootstrap";
 @import "variables.scss";

body {
  color: #ffffff;
  background-color: $main-color;
}
.navigation {
  height: $heigh-top-navigation;
  padding: 0 $heigh-top-navigation;
  .top-nav {
    .home-icon {
      &-mobile {
        display: none;
      }
      &-desktop {
        display: block;
      }
    }
  }
}

.content {
  width: 100%;
  .home {
    position: relative;
    width: inherit;
    display: flex;
    justify-content: center;
    height: calc(#{$section-height} - 80px);
    &-content {
      width: 50%;
      margin: auto;
      // content block is 150px
      margin-top: calc((100vh - 80px)/2 - 150px);
    }
    .background-landscape {
      position: absolute;
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: top;
    }
  }
}

.left-nav {
  position: relative;
  .nav-content {
    position: fixed;
    height: 50vh;
    top: 25vh;
    background: rgba(255, 255, 255, 0.64);
    border-radius: 0px 50px 50px 0px;
    .nav {
      width: 60px;
      margin-top: 65px;
      height: calc(100% - (60px * 2));
      justify-content: space-around;
      .cus-nav-item {
        width: 60px;
        height: 40px;
        color: #0F103F;
        text-align: center;
        &.active {
          color: #ffffff;
        }
      }
    }
    .menu-border {
      position: absolute;
      top: calc(50px/2 + 12px);
      z-index: -1;
      left: 0;
      transition: 1s;
      transform: translate3d(0,0,0);
    }

  }
}

.about-me {
  position: relative;
  width: 100%;
  height: $section-height;
  display: flex;
  justify-content: center;
  align-self: center;
  .background-image {
    position: absolute;
    object-fit: contain;
    object-position: center;
    z-index: -1;
    height: 100%;
  }
  .about-me-content {
    position: absolute;
    top: 50vh;
    left: 50%;
    max-width: 50vh;
  }
}

.my-works {
  height: $section-height;
  position: relative;
  .background-landscape {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
  }
  .slides {
    height: 100%;
    position: relative;
    z-index: 1;
    .title {
      height: 2rem;
    }
    .slides-control {

    }
    .images {
      height: calc(100% - 2rem);
      display: flex;
      justify-content: center;
      align-items: center;
      .thumbnail {
        position: relative;
        left: 0;
        width: 400px;
        height: 300px;
        border-radius: 30px;
        background: rgba(191, 249, 221, 0.4);
        backdrop-filter: blur(20px);
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 30px;
        }
        &.active {
          z-index: 1;
          img {
            width: 120%;
            height: 120%;
            left: -10%;
            top: -10%;

          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .navigation {
    .top-nav {
      .home-icon {
        &-mobile {
          display: block;
        }
        &-desktop {
          display: none;
        }
      }
    }
  }
}