/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

 @import "bootstrap";
 @import "variables.scss";

body {
  color: #ffffff;
  background-color: $main-color;
}
.navigation {
  height: $heigh-top-navigation;
  padding: 0 $heigh-top-navigation;
  .top-nav {
    .home-icon {
      &-mobile {
        display: none;
      }
      &-desktop {
        display: block;
      }
    }
    .nav-group {

    }
  }
}

.content {
  width: 100%;
  .home {
    width: inherit;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    background-image: url('images/background_home.png');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    &-content {
      width: 50%;
      margin: auto;
      margin-top: 25%;
    }
  }
}

.left-nav {
  position: relative;
  .nav-content {
    position: fixed;
    height: 50vh;
    top: 25vh;
    background: rgba(255, 255, 255, 0.64);
    border-radius: 0px 50px 50px 0px;
    .nav {
      width: 60px;
      margin-top: 50px;
      height: calc(100% - (50px * 2));
      justify-content: space-around;
      .cus-nav-item {
        width: 40px;
        height: 40px;
        color: #0F103F;
        &.active {
          color: #ffffff;
        }
      }
    }
    .menu-border {
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 575px) {
  .navigation {
    .top-nav {
      .home-icon {
        &-mobile {
          display: block;
        }
        &-desktop {
          display: none;
        }
      }
    }
  }
}